mongodb:
  net:
    uri: mongodb://node1:27017,node2:27017,node3:27017/
    #ssl:
    #  enabled: true
    #  PEMKeyFile: test.pem
    auth:
      username: username
      password: supersecretpassword
      source: admin
      mechanism: "SCRAM-SHA-1"
security:
  enabled: true
net:
  bindIp: "0.0.0.0"
  port: 3307
